---
import BaseLayout from "../Layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
// Getting information about all the markdown files and saving in allPosts variable
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here the content of blog will be rendered</p>
  <!-- As astro use File based routing the thes link will automtically link the markdown files present in pages/posts/ folder -->
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
